@import '../../../styles/theme';


// ----------------------------------------------------
// TABLE Styling
// ----------------------------------------------------
section {
  padding: 20px;
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  overflow: hidden;
  padding: 0; // table braucht kein inner padding
}

thead {
  background: $background-light;
}

th {
  text-align: left;
  padding: 14px 20px;
  font-size: 14px;
  font-weight: 600;
  color: $color-primary-dark;
  border-bottom: 1px solid $color-secondary-tint;
}

td {
  padding: 14px 20px;
  font-size: 14px;
  color: $color-secondary-dark;
  border-bottom: 1px solid $color-secondary-tint;
}

tr:last-child td {
  border-bottom: none;
}

tbody tr:hover {
  background: $color-accent-tint;
}
