.shared-card {
  width: 100%;
  max-width: 600px;
  background: var(--color-white);
  border-radius: 14px;
  box-shadow: var(--shadow-light);
  border: 1px solid var(--border-color);
  padding: 24px 28px;
  margin: 0 auto;
}

// ----------------------------------------------------
// FORM Styling
// ----------------------------------------------------
.create-user-form {
  @extend .shared-card;

  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 0;
}

.create-user-label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-primary-dark);
  padding: 5px;
}

.create-user-input {
  margin-top: 2px;
  padding: 12px 14px;

  background: var(--color-white);
  border: 1px solid var(--color-secondary-tint);
  border-radius: 8px;

  font-size: 15px;
  color: var(--color-primary-dark);

  transition: border-color 0.2s, box-shadow 0.2s, background 0.2s;
}

.create-user-input::placeholder {
  color: var(--color-secondary-light);
}

.create-user-input:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 3px rgba(var(--color-primary), 0.15);
  outline: none;
}

.create-user-button {
  margin-top: 10px;
  padding: 12px 16px;

  background: var(--color-primary-light);
  color: var(--color-white);

  border: none;
  border-radius: 10px;

  font-size: 15px;
  font-weight: 600;

  cursor: pointer;
  transition: background 0.2s, box-shadow 0.2s;
}

.create-user-button:hover {
  background: var(--color-primary-dark);
  box-shadow: var(--shadow-medium);
}

.create-user-button:active {
  background: var(--color-primary-dark);
  box-shadow: var(--shadow-light);
}

// ----------------------------------------------------
// TABLE Styling
// ----------------------------------------------------
section {
  padding: 20px;
  display: flex;
  justify-content: center;
}

table {
  @extend .shared-card;

  border-collapse: collapse;
  overflow: hidden;
  padding: 0; // table braucht kein inner padding
}

thead {
  background: var(--background-light);
}

th {
  text-align: left;
  padding: 14px 20px;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-primary-dark);
  border-bottom: 1px solid var(--color-secondary-tint);
}

td {
  padding: 14px 20px;
  font-size: 14px;
  color: var(--color-secondary-dark);
  border-bottom: 1px solid var(--color-secondary-tint);
}

tr:last-child td {
  border-bottom: none;
}

tbody tr:hover {
  background: var(--color-accent-tint);
}

.summary-button {
  display: block;
  margin: 20px auto;
  padding: 12px 16px;

  background: var(--color-primary-light);
  color: var(--color-white);
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s, box-shadow 0.2s;
}

.summary-button:hover {
  background: var(--color-primary-dark);
  box-shadow: var(--shadow-medium);
}

.summary-button:active {
  background: var(--color-primary-dark);
  box-shadow: var(--shadow-light);
}

