<div class="create-user-form">
  <label class="create-user-label">
    Vorname
    <input class="create-user-input" type="text" [(ngModel)]="firstname">
  </label>

  <label class="create-user-label">
    Nachname
    <input class="create-user-input" type="text" [(ngModel)]="lastname">
  </label>

  <button class="create-user-button" (click)="submitForm()">Erstellen</button>
</div>

<button class="summary-button" (click)="goToUserSummary()">User Zusammenfassung</button>


<section>
  <table>
    <thead>
    <tr>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>ID</th>
      <th>User entfernen</th>
    </tr>
    </thead>

    <tbody>
      @for (user of sortedUsers(); track user.id) {
        <tr>
          <td>{{ user.firstname }}</td>
          <td>{{ user.lastname }}</td>
          <td>{{ user.id }}</td>
          <td>
            <button class="create-user-button" (click)="deleteUser(user)">
              <app-icon which="delete" />
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</section>
