<section class="card">
  <div class="card-title">
    @if(editMode()){
      <input class="card-rename-input" type="text" [(ngModel)]="newCardName">
    } @else {
      <span (click)="toggleExpanded()">
      <app-icon [which]="expanded() ? 'arrow_down' : 'arrow_right'" />
        {{card()?.title}}
    </span>
    }
    <button class="menu-button" (click)="openMenu()">
      <app-icon which="menu_dots" height="20px" width="20px"/>
    </button>
  </div>

  @if(expanded()){
    @for (timeSlot of card()?.timeSlots; track $index){
      <app-time-slot [timeSlot]="timeSlot" [card]="card()" />
    }
    @if(showAdd()){
      <div class="add-timeslot-form">
        <label>
          Timeslot Name
          <input type="text" [(ngModel)]="time">
        </label>
        <button (click)="submitForm()">Erstellen</button>
      </div>
    }
    <button class="add-timeslot" (click)="addTimeslot()"> Timeslot hinzufügen</button>
  }
</section>


