@import '../../../styles/theme';

.add-card{
  padding: 10px 16px;
  border-radius: 10px;
  background: $color-primary-tint;
  color: #FFFFFF;
  border: 0;
}

// ----------------------------------------------------
// FORM Styling
// ----------------------------------------------------

.add-card-form {
  display: flex;
  flex-direction: column;
  gap: 18px;

  .form-label {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 500;
    color: $color-primary-dark;
  }

  input {
    margin-top: 6px;
    padding: 12px 14px;

    background: $color-white;
    border: 1px solid $color-secondary-tint;
    border-radius: 8px;

    font-size: 15px;
    color: $color-primary-dark;

    transition: border-color 0.2s, box-shadow 0.2s, background 0.2s;
  }

  input::placeholder {
    color: $color-secondary-light;
  }

  input:focus {
    border-color: $color-primary;
    box-shadow: 0 0 0 3px rgba($color-primary, 0.15);
    outline: none;
  }

  button {
    margin-top: 10px;
    padding: 12px 16px;

    background: $color-primary-light;
    color: $color-white;

    border: none;
    border-radius: 10px;

    font-size: 15px;
    font-weight: 600;

    cursor: pointer;
    transition: background 0.2s, box-shadow 0.2s;
  }

  button:hover {
    background: $color-primary-dark;
    box-shadow: $shadow-medium;
  }

  button:active {
    background: $color-primary-dark;
    box-shadow: $shadow-light;
  }

}


