.time-slot-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--color-white);
  border-radius: 14px;
  padding: 16px 20px;
  box-shadow: var(--shadow-light);
  border: 1px solid var(--color-secondary-tint);

  .time-slot-title{
    display: flex;
    flex-grow: 1;
    font-size: 18px;
    font-weight: 600;
    color: var(--color-primary-dark);
    padding-bottom: 0.3rem;
    align-items: center;

    .time-slot-time {
      flex-grow: 1;
    }
  }
}

.menu-button{
  margin-left: auto;
  border: none;
  background: none;
  flex-shrink: 0;
}

// User-Chips
.time-slot-users {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.time-slot-users app-user {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 12px;
  background: var(--color-primary-tint);
  color: var(--color-white);
  font-size: 14px;
}
