<section class="time-slot-card">
  <div class="time-slot-title">
    @if(editMode()){
      <input class="rename-input" type="text" [(ngModel)]="newTimeslotTime">
      <button class="menu-button" (click)="deleteTimeslot()">
        <app-icon which="delete"/>
      </button>
    } @else {
      <span class="time-slot-time">{{ timeSlot()?.time }}</span>
    }
    <button class="menu-button" (click)="openMenu()">
      <app-icon which="menu_dots" height="20px" width="20px"/>
    </button>
  </div>

  <div class="time-slot-users">
    @for (user of currentUsers(); track user.id) {
      <app-user [user]="user" [timeslot]="timeSlot()" [card]="card()"/>
    }
  </div>
  <app-dropdown
    [users]="availableUsers()"
    title="User hinzufügen"
    (selectedCard)="addUser($event)"
  />
</section>
