@import '../../../styles/theme';

// --------------------------------------
// TimeSlot Card
// --------------------------------------
.time-slot-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: $color-white;
  border-radius: 14px;
  padding: 16px 20px;
  box-shadow: $shadow-light;
  border: 1px solid $color-secondary-tint;
  max-width: 600px;
  margin-bottom: 16px;
}

.time-slot-title{

  .time-slot-time {
    font-size: 16px;
    font-weight: 600;
    color: $color-primary;
  }

  .time-slot-rename-input {
    margin-top: 6px;
    padding: 12px 14px;

    background: $color-white;
    border: 1px solid $color-secondary-tint;
    border-radius: 8px;

    font-size: 15px;
    color: $color-primary-dark;

    flex-grow: 1;

    transition: border-color 0.2s, box-shadow 0.2s, background 0.2s;
  }

}

.menu-button{
  margin-left: auto;
  border: none;
  background: none;
  flex-shrink: 0;
}

// User-Chips
.time-slot-users {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.time-slot-users app-user {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 12px;
  background: $color-primary-tint;
  color: $color-white;
  font-size: 14px;
}
